<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StatisticalApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C3472B422E547ADCE01292DEBB4C13E72A7088A1</string>
				<key>dateExpires</key>
				<string>2020/10/13</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8NWL5582K3.bg.chenghong.StatisticalApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8NWL5582K3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8NWL5582K3.bg.chenghong.StatisticalApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>StatisticalApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>48126469-789b-4e51-b089-5cba787dd5fe</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: bg.chenghong.StatisticalApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8NWL5582K3</string>
				<key>name</key>
				<string>TrueKey Mobi Technology  Co..Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
